@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 100;
  src: url("./eot/Yekan-Bakh-FaNum-02-Thin.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-02-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 200;
  src: url("./eot/Yekan-Bakh-FaNum-03-Light.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-03-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 300;
  src: url("./eot/Yekan-Bakh-FaNum-04-Regular.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-04-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 400;
  src: url("./eot/Yekan-Bakh-FaNum-05-Medium.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-05-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 700;
  src: url("./eot/Yekan-Bakh-FaNum-06-Bold.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-06-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 800;
  src: url("./eot/Yekan-Bakh-FaNum-07-Heavy.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-07-Heavy.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: yekan-bakh;
  font-style: normal;
  font-weight: 900;
  src: url("./eot/Yekan-Bakh-FaNum-08-Fat.eot") format("embedded-opentype");
  src: url("./woff/Yekan-Bakh-FaNum-08-Fat.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
