.inputNumberBtn .sbt-btn {
  @apply p-0 h-6 w-6 flex items-center justify-center;
}

.sbt-input-number-chevron {
  @apply p-0 w-2 text-idle hover:text-primary focus:text-primary-hover disabled:text-opacity-50 !important;
}

.inputNumEndAdorn > div {
  @apply h-full;
}
