.radin-price-progress-bar-prompt-bar {
  @apply bg-prompt;
}

.radin-price-progress-bar-success-bar {
  @apply bg-success;
}

.radin-price-progress-bar-prompt-percentage {
  @apply text-prompt mr-auto;
}

.radin-price-progress-bar-success-percentage {
  @apply text-success ml-auto;
}
