@import "../src/styles/index.pcss";

.sbdocs-wrapper * {
  font-family: "yekan-bakh" !important;
}

body[dir="rtl"] {
  ul {
    padding-right: 30px;
    padding-left: 0;
  }
}

body {
  ol,
  ul,
  li,
  menu {
    list-style: initial;
  }
}

code {
  direction: ltr;
}
